body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.container {
    display: flex;
}

.card {
    background: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
}

.date {
    color: gray;
    font-size: 14px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

button:hover {
    background: gray;
}
