.form-container {
    background-color: #6a5acd; /* Màu nền tím */
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0; 
    border: none; 
    border-radius: 5px; 
    outline: none; 
}

textarea.input-field {
    height: 100px; /* Chiều cao cho textarea */
}

.submit-button {
    background-color: #fff;
    color: #6a5acd; /* Màu chữ */
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold; 
}

.submit-button:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
}